.create {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.create h1 {
    text-align: center;
    font-size: 2rem;
}

.create button {
    width: 100%;
    margin: 1rem auto;
}
.container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  
  table {
      width: 100%;
  }

  #edit {
     color: rgb(86, 190, 216);
  }

  #delete {
    color: rgb(255, 7, 7);
 }

 td.baixa {
    color: rgb(0, 250, 0);
 }

 td.media {
    color: rgb(245, 245, 11);
 }

 td.alta {
    color: red;
 }